<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= resource.name %></title>
</head>
<body>
    <div class="container">
        <div class="resource-name">
            <h1><%= resource.name %></h1>
        </div>
        <div class="resource-information">
            <h3><%= resource.status %></h3>
            <h4>Link: <a href="<%= resource.link %>" target="_blank"><%= resource.link %></a></h4>
        </div>
        <div class="del-button">
            <button type="button" id="delResource">Del</button>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', ()=>{
            const btn = document.getElementById('delResource');
            if(btn){
                btn.addEventListener('click', ()=>{
                    // The right practice
                    const currentUrl = window.location.href;
                    fetch(currentUrl, {
                        method: 'POST'
                    }).then(res =>{
                        if(res.ok){
                            window.location.href = '/';
                        }
                    })
                });
            };
        });
    </script>
</body>
</html>